{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/styledet.css">
  </head>
  <body>

    <div class="header">
      <h2 class="name">{{ films.title }}</h2>
      <a class="download" download href="{{ films.thumb.url }}">Download Picture</a><br>
      <a class="homep" href="{% url 'arts:home' %}">Home Page</a><br>
    </div>
    <div class="content">
      <img src="{{ films.thumb.url }}" />
    </div>

    <h2>dd</h2>

  </body>
</html>
